<?xml version='1.0' encoding='utf-8'?>
<widget id="com.htc.maxitotp" version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Max+ Music</name>
    <description>Lecteur Neumorphisme Local</description>
    <author email="djibi@maxit.com" href="https://github.com/djibi5166">Djibi</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserGesture" value="false" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
        </config-file>
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    </platform>

    <preference name="ScrollEnabled" value="false" />
</widget>
